.ant-select {
  @apply font-inter;
  @apply bg-white rounded-lg flex;

  &-single:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply px-3 rounded-lg;

      .ant-select-selection-item {
        @apply m-auto;
      }
    }
  }

  &-single {
    .ant-select-show-arrow {
      .ant-select-selection-item {
        @apply m-auto;
      }
    }
  }

  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply w-full !important;
      @apply rounded-lg;
    }
  }

  &:not(.ant-select-customize-input):hover {
    .ant-select-selector {
      @apply border-primary;
    }
  }

  &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply border-primary shadow-none;
    }
  }

  &-arrow {
    @apply mr-1;
  }

  &-multiple {
    .ant-select-selector {
      @apply px-2 rounded-lg;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .ant-select-selection-item {
      @apply font-inter rounded;
      @apply bg-neutral-100 text-neutral-700;
    }

    .ant-select-selection-placeholder {
      @apply pl-1;
    }
  }

  &-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply bg-neutral-100;
    }
  }

  &-disabled.ant-select-multiple {
    .ant-select-selection-item {
      @apply bg-neutral-300 text-neutral-400 border-neutral-300;
    }
  }

  &-item-option-selected:not(.ant-select-item-option-disabled) {
    @apply font-inter font-semibold;
    @apply bg-primary bg-opacity-10;

    .ant-select-item-option-state {
      @apply text-primary;
    }
  }

  &-arrow {
    @apply w-4 h-4;
    @apply text-neutral-500;
  }
}
