.ant-select {
  @apply font-inter;
  @apply w-80 h-10 rounded-lg flex;

  &-single:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply px-3 rounded-lg;

      .ant-select-selection-item {
        @apply m-auto;
      }
    }
  }

  &-single {
    .ant-select-show-arrow {
      .ant-select-selection-item {
        @apply m-auto;
      }
    }
  }

  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply rounded-lg;
    }
  }

  &:not(.ant-select-customize-input):hover {
    .ant-select-selector {
      @apply border-primary;
    }
  }

  &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      @apply border-primary shadow-none;
    }
  }

  &-arrow {
    @apply mr-1;
  }

  &-multiple {
    .ant-select-selector {
      @apply w-80 h-10 rounded-lg;
      @apply px-2 py-0;
    }

    .ant-select-selection-item {
      @apply font-inter rounded;
      @apply bg-neutral-100 text-neutral-700;
    }

    .ant-select-selection-placeholder {
      @apply pl-1;
    }
  }
}
