.ant-checkbox {
  @apply font-inter;

  &:not(.ant-checkbox-disabled) {
    &:hover {
      .ant-checkbox-inner {
        @apply border-slate-700;
      }
    }
  }

  &-wrapper {
    &:not(&-disabled) {
      .ant-checkbox-inner {
        @apply border-slate-700;
      }

      &:hover {
        .ant-checkbox-inner {
          @apply border-slate-700;
        }

        .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
          @apply bg-slate-700 border-slate-700;
        }
      }

      & .ant-checkbox-checked {
        .ant-checkbox-inner {
          @apply bg-slate-700 border-slate-700;
        }
      }
    }
  }
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  @apply bg-slate-700;
}
