@import 'antd/lib/style/default.css';
@import 'antd/lib/input-number/style/index.css';

.ant-input-number{

    @apply font-inter text-sm font-normal text-neutral-700 rounded-lg bg-white;
    @apply hover:bg-white;

    .ant-input-number-input{
        @apply px-4 py-1 h-10;
        @apply border-[1px] border-transparent border-solid rounded-lg;
        @apply hover:border-neutral-300;
        @apply focus:border-neutral-300;
    }

    /* Disabled Styling */
    &.ant-input-number-disabled{
        @apply bg-neutral-100 text-neutral-400;

        .ant-input-number-input{
            @apply border-none;
            @apply hover:border-none;
            @apply focus:border-none;
        }
    }
}

/* Input Number witg Currency Prefix */
.ant-input-number-affix-wrapper.ant-input-number-affix-wrapper-borderless{
    @apply border-transparent;
}

.ant-input-number-affix-wrapper{

    @apply font-inter text-sm font-normal text-neutral-700 rounded-lg bg-white;
    @apply hover:bg-white hover:border-neutral-300 border-[1px] border-solid !important;
    @apply focus:bg-white focus:text-neutral-300;

    .ant-input-number-prefix{
        @apply text-neutral-400 leading-5 pr-1 mr-0;
    }

    .ant-input-number-input{
        @apply hover:border-transparent focus:border-transparent;
    }

    /* Disabled Styling */
    &.ant-input-number-affix-wrapper-disabled{

        @apply bg-neutral-100 text-neutral-400;
        @apply hover:bg-neutral-100 hover:border-transparent !important;

    }

}


