@import 'antd/lib/style/default.css';
@import 'antd/lib/modal/style/index.css';
@import '../Button/style.css';

.ant-modal {

  &-content{
    @apply rounded-lg;
  }

  &-confirm{
    @apply w-[352px] !important;
    .ant-modal-body{
      @apply p-4;
    }

    &-content {
      @apply font-inter leading-5 ml-2 mr-6;
      @apply text-neutral-700 !important;
    }
  
    &-title {
      @apply ml-2 w-72;
      @apply text-neutral-700 font-bold !important;
    }
  
    &-body {
      @apply text-neutral-700 font-normal !important;
    }
  }

  .ant-modal-confirm-btns{
    @apply mt-4 mr-4;

    .ant-btn > span{
      @apply leading-5;
    }
  }

  &-close-x{
    @apply w-4 h-4 mt-4 mr-4;

    svg{
      @apply text-neutral-400;
    }
  }
}

.ant-modal.with-icon{

  @apply w-[376px] !important;

  .ant-modal-confirm-body{
    
    svg{
      @apply float-left mr-2;
    }

    .ant-modal-confirm-content{
      @apply ml-8 mt-1 mr-6;
    }

    .ant-modal-confirm-title{
      @apply leading-6;
    }
  }
}
