.ant-modal {
  @apply font-inter;

  & &-close {
    inset-inline-end: 0;
    @apply top-0 w-auto h-auto;

    .ant-modal-close-x {
      @apply mt-4 mr-4;

      svg {
        @apply text-neutral-400;
      }
    }
  }

  & &-content {
    @apply p-4;
  }

  &-confirm {
    &-body &-title {
      @apply ml-2 w-72 text-neutral-700 font-bold leading-6;
    }

    &-body &-content {
      @apply leading-5 ml-2 mr-6 mt-1 text-neutral-700;
    }

    & &-paragraph {
      @apply gap-y-0;
    }
  }

  .ant-modal-confirm-btns {
    @apply mt-4 mr-4;

    .ant-btn > span {
      @apply leading-5;
    }
  }
}
