.ant-steps {
  @apply font-inter;

  .ant-steps-item-title {
    @apply font-semibold;
  }

  & &-item-icon {
    .ant-steps-icon {
      @apply text-sm;
    }

    & .anticon {
      & > svg {
        @apply hidden;
      }
    }
  }

  &&-dot {
    & .ant-steps-item-tail::after,
    &.ant-steps-small .ant-steps-item-tail::after {
      height: 1px;
    }
  }

  &&-navigation {
    & .ant-steps-item-container {
      @apply relative;

      &:before {
        content: '';
        transition: width 0.3s, left 0.3s;
        transition-timing-function: ease-out;

        @apply absolute bottom-0 w-0 block h-0.5 bg-slate-700 left-2/4;
      }
    }

    & .ant-steps-item.ant-steps-item-active {
      &::before {
        @apply hidden;
      }

      & .ant-steps-item-container:before {
        @apply w-full left-0;
      }
    }
  }

  & &-item-wait {
    .ant-steps-item-icon {
      border-color: rgba(0, 0, 0, 0.25);
      @apply bg-transparent;

      & > .ant-steps-icon {
        @apply text-neutral-400 font-semibold;
      }
    }

    & > .ant-steps-item-container {
      & > .ant-steps-item-content > .ant-steps-item-title {
        @apply text-neutral-400;

        &::after {
          @apply bg-neutral-400;
        }
      }

      & .ant-steps-item-tail::after {
        @apply bg-neutral-400;
      }
    }
  }

  & &-item-process {
    .ant-steps-item-icon {
      @apply bg-slate-700 border-slate-700;

      & > .ant-steps-icon .ant-steps-icon-dot {
        @apply bg-slate-700;
      }
    }

    & > .ant-steps-item-container {
      & > .ant-steps-item-content {
        & > .ant-steps-item-title {
          &::after {
            @apply bg-neutral-400;
          }
        }

        & > .ant-steps-item-title,
        & > .ant-steps-item-description {
          @apply text-slate-700;
        }
      }

      & .ant-steps-item-tail::after {
        @apply bg-neutral-400;
      }
    }
  }

  & &-item-error {
    & .ant-steps-item-icon {
      @apply border-red-600 bg-transparent;

      & .anticon-close:before {
        @apply block;
        transform: translateY(-32%);
        content: var(--ic-x-12-r600);
      }
    }

    & > .ant-steps-item-container {
      & > .ant-steps-item-content {
        & > .ant-steps-item-title::after {
          @apply bg-neutral-400;
        }

        & > .ant-steps-item-title,
        & > .ant-steps-item-description {
          @apply text-red-600;
        }
      }

      & .ant-steps-item-tail::after {
        @apply bg-neutral-400;
      }
    }
  }

  & &-item-finish {
    .ant-steps-item-icon {
      @apply bg-transparent border-slate-700;

      & > .ant-steps-icon .ant-steps-icon-dot {
        @apply bg-slate-700;
      }
    }

    & > .ant-steps-item-container {
      & > .ant-steps-item-content > .ant-steps-item-title {
        @apply text-slate-700;

        &::after {
          @apply bg-slate-700;
        }
      }

      & .ant-steps-item-tail::after {
        @apply bg-slate-700;
      }
    }

    & .anticon-check:before {
      @apply block;
      transform: translateY(-18%);
      content: var(--ic-check-12-s700);
    }
  }
}
