[class^='ant-dropdown'],
[class*='ant-dropdown'] {
  @apply font-inter;
}

.ant-dropdown {
  &-menu-submenu .ant-dropdown-menu {
    & .ant-dropdown-menu-item-selected,
    & .ant-dropdown-menu-submenu-title-selected {
      @apply bg-transparent text-slate-700 font-semibold;

      &:hover,
      &:active {
        @apply bg-neutral-100;
      }
    }

    & .ant-dropdown-menu-item,
    & .ant-dropdown-menu-submenu-title {
      @apply mx-2 p-2;
    }

    & .ant-dropdown-menu-item-selected::after {
      @apply h-4 pl-1;
      content: var(--ic-check-16-n700);
    }
  }

  & &-menu {
    @apply py-2;

    & .ant-dropdown-menu-item,
    & .ant-dropdown-menu-submenu-title {
      @apply mx-2 p-2;
    }

    & .ant-dropdown-menu-item-selected::after {
      @apply h-4 pl-1;
      content: var(--ic-check-16-n700);
    }

    & .ant-dropdown-menu-submenu-selected .ant-dropdown-menu-submenu-title,
    & .ant-dropdown-menu-item-selected,
    & .ant-dropdown-menu-submenu-title-selected {
      @apply bg-transparent text-slate-700 font-semibold;

      &:hover,
      &:active {
        @apply bg-neutral-100;
      }
    }
  }
}
