.ant-menu {
  @apply font-inter;

  & &-item,
  & &-submenu-title {
    @apply rounded-none;

    .ant-menu-item-icon {
      vertical-align: inherit;
    }
  }

  & &-item,
  & &-submenu {
    @apply rounded-none;

    &-title {
      @apply rounded-none;
    }
  }

  &-vertical,
  &-inline {
    .ant-menu-item,
    .ant-menu-submenu-title {
      @apply w-auto;

      margin-block: inherit;
      margin-inline: inherit;
    }
  }

  &-inline-collapsed {
    & > .ant-menu-item,
    & > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
    & > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title,
    & > .ant-menu-submenu > .ant-menu-submenu-title {
      padding-inline: calc(50% - 8px);
    }

    .ant-menu-submenu-selected .ant-menu-submenu-title::before {
      content: '';
      @apply w-[2px] h-full;
      @apply absolute left-0 block;
    }
  }

  &-light {
    & .ant-menu-item-group-title,
    & > .ant-menu .ant-menu-item-group-title {
      @apply text-slate-700;
    }

    &.ant-menu-inline-collapsed {
      .ant-menu-submenu-selected {
        @apply bg-slate-100;

        .ant-menu-submenu-title::before {
          @apply bg-slate-700;
        }
      }
    }

    /* expanded parent item */
    .ant-menu-submenu-selected,
    & > .ant-menu .ant-menu-submenu-selected {
      & > .ant-menu-submenu-title {
        @apply text-slate-700 font-semibold;
      }
    }

    /* expanded child item */
    .ant-menu-item-selected,
    & > .ant-menu .ant-menu-item-selected {
      @apply bg-slate-100;
      @apply text-slate-700 font-semibold;
    }

    &.ant-menu-horizontal,
    & > .ant-menu.ant-menu-horizontal {
      > .ant-menu-item-active,
      > .ant-menu-item-open,
      > .ant-menu-submenu-active,
      > .ant-menu-submenu-open,
      > .ant-menu-item-selected,
      > .ant-menu-submenu-selected {
        &:after {
          @apply border-b-0 border-transparent;
        }
      }

      > .ant-menu-item-selected,
      > .ant-menu-submenu-selected {
        @apply text-slate-700 font-semibold;
      }

      > .ant-menu-item,
      > .ant-menu-submenu {
        &:hover:after {
          @apply border-b-0 border-transparent;
        }
      }
    }

    &.ant-menu-horizontal {
      @apply bg-transparent;
    }

    &.ant-menu-inline .ant-menu-item.ant-menu-item-selected::after {
      @apply left-0 w-[2px] bg-slate-700;
    }
  }

  .ant-menu-submenu-title > svg {
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.ant-menu-horizontal {
  @apply border-b-0;
}

.ant-menu-submenu {
  > .ant-menu {
    @apply rounded-lg;
  }

  /* for double dropdowns */
  &.ant-menu-submenu-popup {
    .ant-menu-item:hover {
      @apply text-slate-700 bg-neutral-100;
    }
    .ant-menu-submenu.ant-menu-submenu-vertical {
      .ant-menu-submenu-title {
        @apply flex items-center;
        .ant-menu-item-icon {
          @apply hidden;
        }
        > svg {
          @apply ml-2;
        }
      }
    }
  }
}
