.ant-radio {
  @apply font-inter;

  &-wrapper {
    &:not(&-disabled) {
      .ant-radio-inner {
        @apply border-slate-700;

        &::after {
          margin-block-start: -11px;
          margin-inline-start: -11px;

          @apply w-[22px] h-[22px] rounded-[22px];
        }
      }

      &:hover {
        .ant-radio-inner {
          @apply border-slate-700;
        }
      }

      & .ant-radio-checked {
        .ant-radio-inner {
          @apply bg-white border-slate-700;

          &::after {
            @apply bg-slate-700;
          }
        }
      }
    }
  }
}
