@import 'antd/lib/style/default.css';
@import 'antd/lib/table/style/index.css';
@import '../Button/style.css';
@import '../Empty/style.css';
@import '../Radio/style.css';
@import '../Checkbox/style.css';
@import 'antd/lib/dropdown/style/index.css';
@import 'antd/lib/spin/style/index.css';
@import '../Pagination/style.css';
@import '../Tooltip/style.css';
@import '../Input/style.css';
@import '../Tree/style.css';

.ant-table-wrapper {
  .ant-table {
    @apply font-inter;
    @apply rounded-xl;
    @apply overflow-hidden;
    @apply border;
    @apply border-slate-100;

    .ant-table-thead {
      tr {
        th {
          @apply bg-white;
          @apply font-semibold;
          @apply text-sm;
          @apply text-neutral-700;

          &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
            @apply bg-neutral-300;
          }
        }

        .ant-table-filter-trigger {
          @apply text-neutral-700;
          &.active {
            @apply text-primary;
          }
        }
      }

      .ant-table-column-sorter,
      .ant-table-column-sorter-full {
        @apply flex;
        @apply items-center;

        svg {
          @apply hidden;
        }
      }

      .ant-table-column-sort {
        .ant-table-column-title {
          .sort-ascend,
          .sort-descend {
            polyline,
            line {
              @apply transition-all;
              @apply duration-300;
            }
          }

          .sort-ascend {
            polyline,
            line {
              &:last-of-type {
                @apply stroke-primary;
              }
            }
          }

          .sort-descend {
            polyline,
            line {
              &:first-of-type {
                @apply stroke-primary;
              }
            }
          }
        }
      }
    }

    .ant-table-tbody {
      td {
        @apply font-normal;
        @apply text-neutral-700;

        &:last-child {
          a {
            @apply text-primary;
            @apply font-semibold;
          }
        }

        &.ant-table-cell-with-append {
          @apply pl-10;
          svg {
            @apply absolute;
            @apply m-auto;
            @apply top-0;
            @apply bottom-0;
            @apply left-3;
            @apply transition-all;
            @apply cursor-pointer;
          }
        }
      }

      .ant-table-row {
        &:hover {
          td {
            @apply bg-neutral-100;
          }
        }

        &.ant-table-row-selected {
          td {
            @apply bg-slate-100;
          }
        }

        &:not(.ant-table-row-level-0) {
          .ant-table-cell-with-append {
            @apply pl-14;
          }
        }
      }
    }

    /* affects thead and tbody */
    .drag-visible {
      @apply pl-6;
      svg {
        @apply cursor-grab;
        @apply m-auto;
      }
    }

    /* affects thead and tbody */
    .ant-table-selection-column {
      @apply pl-5;
    }
  }
}

.ant-table-filter-dropdown {
  @apply shadow-md;
  @apply rounded-lg;

  .ant-table-filter-dropdown-tree {
    @apply pt-3;
    @apply pr-3;
    @apply pb-0;
    @apply pl-3;
  }

  .ant-table-filter-dropdown-btns {
    @apply border-none;
    @apply justify-end;
    @apply rounded-b-lg;
    @apply p-2;
  }
}

/* when dragging items in table */
.row-dragging {
  @apply font-inter;
  @apply flex;
  @apply items-center;
  @apply bg-neutral-100;
  @apply border;
  @apply border-slate-100;
  /* hardcoded to none in antd codebase */
  @apply pointer-events-auto !important;
  @apply cursor-grabbing;

  td {
    &:not(:first-child) {
      @apply m-auto;
    }
    @apply m-[30px];
  }

  .ant-table-cell {
    a {
      @apply text-primary;
      @apply font-semibold;
    }
  }

  .ant-table-cell-fix-right,
  .ant-table-cell-fix-left {
    @apply bg-transparent;
  }

  .ant-table-cell-with-append {
    @apply pl-10;
    @apply relative;

    svg {
      @apply absolute;
      @apply m-auto;
      @apply top-0;
      @apply bottom-0;
      @apply left-3;
      @apply transition-all;
      @apply cursor-pointer;
    }
  }
}
