.ant-btn {
  @apply rounded-lg font-inter h-auto;
  @apply inline-flex items-center justify-center border-none;
  @apply focus:border-transparent focus:outline-none;
  @apply px-4 py-1.5 font-semibold leading-5;

  &.icon-start {
    @apply pl-2;

    svg:first-of-type {
      @apply mr-1;
    }
  }

  &.icon-end {
    @apply pr-2;

    svg:last-of-type {
      @apply ml-1;
    }
  }

  &&-sm {
    @apply px-3 py-1 text-xs font-semibold rounded;

    &.icon-start {
      @apply pl-2;

      svg:first-of-type {
        @apply mr-1;
      }
    }

    &.icon-end {
      @apply pr-1;

      svg:last-of-type {
        @apply ml-1;
      }
    }
  }

  &&-lg {
    @apply px-4 py-2.5 text-sm font-bold;

    &.icon-start {
      @apply pl-2;

      svg:first-of-type {
        @apply mr-1;
      }
    }

    &.icon-end {
      @apply pr-2;

      svg:last-of-type {
        @apply ml-1;
      }
    }
  }

  &-circle {
    &:not(:disabled):not(.ant-btn-disabled) {
      @apply text-primary bg-white border-neutral-300;

      &:focus,
      &:active {
        @apply text-primary border-primary;
      }

      &:hover {
        @apply text-primary border-neutral-300;
      }
    }

    &.ant-btn-lg {
      min-height: 40px;
    }
  }

  &-primary {
    &:not(:disabled):not(.ant-btn-disabled) {
      @apply bg-primary text-white;
      @apply hover:bg-primary hover:bg-opacity-70 hover:text-white;
      @apply focus:bg-primary focus:text-white focus:outline-none;
      @apply active:bg-primary active:text-white active:bg-opacity-70;
    }
  }

  &-text {
    &:not(:disabled):not(.ant-btn-disabled) {
      @apply text-primary;

      &:hover,
      &:focus,
      &:active {
        @apply text-primary;
      }
    }
  }

  &-link {
    &:not(:disabled):not(.ant-btn-disabled) {
      &:hover,
      &:focus,
      &:active {
        @apply text-primary;
      }
    }
  }
}
