.ant-avatar {
  @apply flex justify-center items-center;

  &.text-avatar {
    @apply text-sm;
    @apply border border-white;
    @apply bg-neutral-300;
  }

  &.image-avatar {
    @apply bg-slate-100;
  }
}
