@import 'antd/lib/list/style/index.css';
@import 'antd/lib/skeleton/style/index.css';

.ant-list {
  /* @apply bg-white; */

  &.ant-list-bordered {
    @apply rounded-lg;
    @apply border-slate-100;

    .ant-list-header,
    .ant-list-footer,
    .ant-list-item {
      @apply font-inter;
    }

    .ant-list-header,
    .ant-list-footer {
      @apply font-bold text-neutral-700;
    }

    .ant-list-item {
      @apply text-neutral-700;
    }
  }

  .ant-list-item {
    /* @apply border-b-red-800; */
  }

  &.ant-list-split {
    .ant-list-header,
    .ant-list-footer,
    .ant-list-item {
      @apply border-b-slate-100 !important;
    }
  }
}
