.ant-form {
  &-item-label {
    @apply mb-0 leading-none !important;
  }

  &-item-label {
    @apply pb-2;
  }

  &-item-control-input-content {
    .ant-input-affix-wrapper {
      @apply font-inter h-10 px-4 rounded-lg;

      input {
        @apply focus:border-neutral-300 z-0 focus:shadow-none;
      }

      input::placeholder {
        @apply text-neutral-300;
      }

      .ant-input-prefix {
        @apply mr-1.5;
        @apply text-neutral-300;
      }

      .ant-input-clear-icon > svg {
        display: none;
      }

      .ant-input-clear-icon {
        @apply h-4 w-4;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='dimgray' viewBox='0 0 256 256'><rect width='256' height='256' fill='none'></rect><line x1='200' y1='56' x2='56' y2='200' stroke='dimgray' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'></line><line x1='200' y1='200' x2='56' y2='56' stroke='dimgray' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'></line></svg>");
      }
    }

    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      @apply border-neutral-300;
    }

    .ant-input-affix-wrapper-focused {
      @apply border-neutral-300 shadow-none;
    }

    .roundedSearch {
      @apply rounded-full;
    }

    .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
      @apply rounded-l-full;
      @apply border-r-transparent z-0;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
      border: 1px solid;
      @apply rounded-r-full bg-white border-l-0 border-neutral-300;
    }

    .ant-input-search
      > .ant-input-group
      > .ant-input-group-addon:last-child
      .ant-input-search-button:not(.ant-btn-primary) {
      @apply bg-transparent pr-4;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-btn:focus {
      @apply outline-offset-0;
      outline: 0px solid transparent;
    }

    .ant-btn > .ant-btn-loading-icon:only-child .anticon {
      @apply align-middle;
    }

    .ant-btn > .anticon-search {
      @apply h-4 w-4;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='dimgray' viewBox='0 0 256 256'><rect width='256' height='256' fill='none'></rect><circle cx='116' cy='116' r='84' fill='none' stroke='dimgray' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'></circle><line x1='175.4' y1='175.4' x2='224' y2='224' fill='none' stroke='dimgray' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'></line></svg>");
    }

    .ant-btn > .anticon-search > svg {
      @apply hidden;
    }

    .ant-input-search > .ant-input-group > .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      @apply border-r-0 !important;
      @apply border-r-transparent z-0;
    }
  }
}

.ant-input-affix-wrapper-disabled ~ .ant-input-group-addon:last-child {
  @apply bg-neutral-100 !important;
}

.ant-input-affix-wrapper-borderless ~ .ant-input-group-addon:last-child {
  @apply border-0 !important;
}

.ant-form-item-has-error {
  .ant-form-item-control-input-content .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    @apply border-red-600 !important;
  }

  .ant-form-item-control-input-content .ant-input-search .ant-input-group .ant-input-affix-wrapper-focused {
    @apply border-red-600 shadow-none;
  }
}
